* {
    margin: 0;
    padding: 0;
  }
  
html {
    background-image: url ('https://img.freepik.com/free-photo/bloody-grunge-background-ideal-halloween_1048-14641.jpg?w=900&t=st=1678396528~exp=1678397128~hmac=ffaa561ba17c9de5867c1060a12aaaa2c2c2e310cc4d4adbc7c726601157d914');
  }
  
  
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 360px;
    max-width: 1150px;
    margin: 0 auto;
  }

header {
    background-size: cover;
    background-position: center;
    width: 100%;
  }

a:link, a:visited  {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    color: #B80C09;
  }