<!DOCTYPE html>
<html>

<head>
  <title>Dev Academy Phase 1 Express Boilerplate</title>
</head>

<body>
 <div id="page-container">
  <div id="content-wrap">
    {{>header}}
    {{{body}}}
  </div>
    {{>footer}}
 </div>
</body>

</html>
