<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap" rel="stylesheet">

  <title>Placeholder</title> 
  {{!-- need a proper title for this page --}}
</head>

<body>
 <div id="page-container">
  <div id="content-wrap">
    {{!-- {{>header}} --}}
    {{{body}}}
  </div>
    {{!-- {{>footer}} --}}
 </div>
</body>

</html>
