  html {

    margin: 0;
    padding: 0;

    
  }
  
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 360px;
    max-width: 1150px;
    background-image: url('/images/bloody-background.jpg');
    background-size: cover;
    margin: 0 auto;
  }
  
  header {
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  
  a:link, a:visited  {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    color: #B80C09;
  }
  
  
  h1 {
    color: white;
    text-align: center;
  }
  
  div#page-container {
    height: 100vw;
  }

.cards {
  background-color: #ECF6FA;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 3rem 2rem 3rem;
}

.card {
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center top 10px;
  background-color: #ECF6FA;
  box-shadow: 5px 5px 15px #999;
  padding: 15px;
  margin: 10px;
  width: 209px;
  list-style: none;
}

h2 {
  color: white;
}